{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Cognitive Load{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hexaco test</h1>
    <p>Na naslednjih straneh boste našli niz stavkov o vas. Prosimo, da preberete vsak stavek in ocenite kako močno se z njim strinjate ali ne strinjate.
        Prosimo, da odgovorite na vsak stavek, tudi če niste popolnoma prepričani o svojem odgovoru.</p>
</div>
<a href="{{ url_for('hexaco_questions', question_number=1) }}" class="btn btn-success">Začni!</a>
{% endblock %}
